{{ define "body"}}
<div class="container">
<h1>This is the home page</h1>
<p>Developing RESTful applications represents a widely adopted approach for constructing web services due to their straightforward and scalable architecture. CRUD, an acronym for Create, Read, Update, and Delete, constitutes a foundational task in software development. The capability to execute CRUD operations is intrinsic to virtually any application development endeavor. In this tutorial, we will delve into the construction of a basic CRUD application using Go in conjunction with MySQL.</p>
</div>

{{ end }}